{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Bienvenue sur todo DDD.
    </h1>

    <p>Vous devriez aller dans la liste des <a href="{{ path('todo_index') }}">choses à faire</a> !</p>
{% endblock %}

{% block title %}
    Bienvenue
{% endblock %}

